// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color variables
$primaryColor: #433da0;
$secondaryColor: #adaabb;
$fontColor: #1a2542;
$backgroundColor: #ffffff;

// media query breaking points
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-small-screen: 1024px;
$breakpoint-desktop: 1200px;
// alles boven 1200px is tv size of groot beeldscherm
$breakpoint-tv: 1201px;
