// Variables
@import "variables";

.bandInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: -1em;
    .banner {
        display: block;
        width: 100%;
        max-height: 40vh;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 4em;
            text-shadow: 3px 2px $fontColor;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        gap: 5em;
        .bio,
        .muziek {
            width: 50%;
            min-height: 40vh;

            h2 {
                text-transform: uppercase;
                letter-spacing: 4px;
                color: $primaryColor;
            }
        }

        .bio {
            // background-color: purple;
            p {
                color: $fontColor;
                font-size: 1.2em;
                letter-spacing: 2px;
            }
        }
    }
    @media (max-width: $breakpoint-desktop) {
        .info {
            flex-direction: column !important;
            justify-content: unset !important;
            gap: unset !important;
        }
        .bio,
        .muziek {
            width: 100% !important;
            height: auto !important;
            p {
                font-size: 1em !important;
            }
        }
        .banner {
            h1 {
                font-size: 3em !important;
            }
        }
    }
}
