// Variables
@import "variables";

.navbar {
    z-index: 100;
}

#app {
    position: relative;
}

footer {
    z-index: 300;
}

#overlay {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    width: 350px;
    background-color: rgba($color: #433da0, $alpha: 0.86);
    z-index: 200;
    overflow-y: auto;
    .top {
        display: flex;
        flex-direction: column;
        gap: 1.6em;

        .settingsBox {
            margin-bottom: 2em;
            .header {
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-self: center;
                h3 {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: Arial;
                    color: white;
                    margin: 0;
                    line-height: 1.5;
                }
            }
            .contentBox {
                display: flex;
                flex-direction: column;
                margin-top: 0.5em;
                .inputBox {
                    display: flex;
                    flex-direction: column;
                    font-family: Arial;
                    label {
                        color: $secondaryColor;
                        font-weight: bold;
                        padding: 0;
                        margin-bottom: -0.4em;
                        margin-left: 2px;
                    }
                    input {
                        color: white;
                        background-color: inherit;
                        border: none;
                        border-bottom: 1px solid $secondaryColor;
                        width: 100%;
                        font-size: 18px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .colorContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;
                    margin-bottom: 0.8em;
                    .colorPicker {
                        width: 25px;
                        height: 25px;
                        padding: 0;
                        border: none;
                    }
                    h3 {
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 1.5;
                        margin: 0;
                    }
                }
            }
        }
        .inviteBtn {
            border-radius: 10px;
            padding: 0.3em 1.5em;
            font-size: 1.2em;
            font-weight: bold;
            font-family: Arial;
            border: none;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
            color: $primaryColor;
            background-color: #fff;
            &:hover {
                background-color: darken(#fff, 10%);
            }
            margin-top: 1em;
        }
    }
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: 70px;

        .editBtn {
            border-radius: 10px;
            padding: 0.5em 2em;
            font-size: 1.2em;
            font-weight: bold;
            font-family: Arial;
            border: none;
            text-decoration: none;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
        }
        .btn-opslaan {
            color: $primaryColor;
            background-color: #fff;
            &:hover {
                background-color: darken(#fff, 10%);
            }
        }
        .btn-annuleren {
            color: #fff;
            background-color: $primaryColor;
            &:hover {
                background-color: lighten($primaryColor, 5%);
            }
        }
    }
}

#popupBtn {
    display: none;
}

.editWrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: -1em;

    // fixt footer probleem
    margin-bottom: 5em;

    img {
        display: block;
        max-width: 100%;
    }

    .modal-content {
        width: fit-content;
    }

    .btn-cropImage {
        background-color: $primaryColor;
        color: white;
    }

    .cropper-container {
        max-width: 100% !important;
    }

    .cropper-point,
    .cropper-line {
        background-color: $primaryColor !important;
    }

    .cropper-view-box {
        outline: 1px solid $primaryColor;
        outline-color: rgba($color: $primaryColor, $alpha: 0.16);
    }

    .banner {
        display: block;
        width: 100%;
        max-height: 40vh;
        height: 40vh;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        background-size: cover !important;
        img {
            width: 100%;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 4em;
            text-shadow: 3px 2px $fontColor;
        }

        #editBanner {
            display: none;
        }

        .banner-edit {
            label {
                position: absolute;
                top: 98%;
                left: 99%;
                transform: translate(-98%, -98%);
                background-color: white;
                border-radius: 10px;
                color: $primaryColor;
                font-family: Arial;
                font-size: 15px;
                font-weight: bold;
                padding-inline: 2em;
                box-shadow: 1px 3px 6px rgba($color: #000000, $alpha: 0.16);
                &:hover {
                    background-color: darken($color: #ffffff, $amount: 5%);
                    cursor: pointer;
                }
            }
        }
    }
    .info {
        display: flex;
        justify-content: space-between;
        gap: 5em;
        .bio,
        .muziek {
            width: 50%;
            min-height: 40vh;

            h2 {
                text-transform: uppercase;
                letter-spacing: 4px;
                color: $primaryColor;
            }
        }

        #bio_textarea {
            color: $fontColor;
            font-size: 1.2em;
            letter-spacing: 2px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border: none;
            &:focus {
                outline: none;
            }
        }
        .bio_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .bio_edit {
            background-color: white;
            border-radius: 10px;
            color: $primaryColor;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding-inline: 2em;
            box-shadow: 1px 3px 6px rgba($color: #000000, $alpha: 0.16);
            &:hover {
                background-color: darken($color: #ffffff, $amount: 5%);
                cursor: pointer;
            }
            &.active {
                background-color: $primaryColor;
                color: white;
                &:hover {
                    background-color: lighten(
                        $color: $primaryColor,
                        $amount: 10%
                    );
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: $breakpoint-desktop) {
        .info {
            flex-direction: column !important;
            justify-content: unset !important;
            gap: unset !important;
        }
        .bio,
        .muziek {
            width: 100% !important;
            height: auto !important;
            p {
                font-size: 1em !important;
            }
        }
        .banner {
            h1 {
                font-size: 3em !important;
                text-align: center;
            }
        }
    }
}
