

// Homepage content container

.homecontent-wrapper {
  width: 100%;
  min-height: auto;
  margin: auto;
  // border: 2px solid black;

  .personalised-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    // border: 2px solid black;
    object-fit: cover;
    margin-top: 2em;

    img {
      width: 1085px;
      height: 583px;
    }
  }
  .about-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 5em;
    // border: 2px solid black;

    article {
      width: 643px;
      height: 468px;
      margin-top: 2em;
    }

    img {
      width: 523px;
      height: 533px;
    }
  }

  .inspiratie-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    // border: 2px solid black;

    .tiles-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 1366px;
      height: auto;
      border-radius: 40px 0px 0px 40px;
      background: #433DA0;

      img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        padding: 10px;
        object-fit: contain;
      }
    }
  }
}

