

// Homepage content container

.homecontent-wrapper {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  // border: 2px solid black;

  .personalised-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 30vh;
    // border: 2px solid black;
    object-fit: cover;
    margin-top: 60px;

    img {
      width: 100%;
      height: 50vh;
    }
  }
  .about-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 30vh;
    object-fit: contain;
    margin-top: 30px;
    // border: 2px solid black;

    article {
      width: 648px;
      height: 463px;
    }

    img {
      width: 523px;
      height: 533px;
    }
  }

  .inspiratie-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 30vh;
    margin-top: 3em;
    // border: 2px solid black;

    .tiles {
      width: 1366px;
      height: 758px;
      border-radius: 40px 0px 0px 40px;
      background: #433DA0;
    }
  }
}

