// variables
$primaryColor: #433da0;
$secondaryColor: #adaabb;
$fontColor: #1a2542;
$backgroundColor: #ffffff;

.navbar-brand {
    color: $primaryColor !important;
    font-weight: bold;
}

.navbar-nav {
    .active {
        a {
            color: $primaryColor !important;
        }
    }
    li {
        a {
            font-weight: bold;
            color: $secondaryColor !important;
        }
    }
}

footer {
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    span {
        color: white;
        font-weight: bold;
    }
}

.btn-login {
    background-color: $primaryColor;
    color: white;
    font-weight: bold;
    &:hover {
        color: white;
        background-color: lighten($primaryColor, 10%);
    }

    .loginIcon {
        width: 17px;
        height: 17px;
    }
}
