.homecontent-wrapper {
  width: 100%;
  min-height: auto;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
}
.homecontent-wrapper .personalised-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.homecontent-wrapper .personalised-wrapper .cta-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Berlin Sans FB;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #adaabb;
  padding: 0.5em;
  background-color: #ffffff;
  margin-bottom: -11em;
  margin-top: 6em;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar button {
  background-color: #433da0;
  padding: 0.5em;
  border-radius: 10px;
  border: unset;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input {
  border: unset;
  width: 100%;
  color: #adaabb;
  font-size: 17px;
  padding-left: 1em;
  font-family: Berlin Sans FB;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input::-webkit-input-placeholder {
  color: #adaabb;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input::-moz-placeholder {
  color: #adaabb;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input:-ms-input-placeholder {
  color: #adaabb;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input::-ms-input-placeholder {
  color: #adaabb;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input::placeholder {
  color: #adaabb;
}
.homecontent-wrapper .personalised-wrapper .cta-container .searchBar input:focus {
  outline: none;
}
.homecontent-wrapper .personalised-wrapper .cta-container .cta-btn {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 20px;
  color: black;
  background: #ffffff;
  font-size: 22px;
  margin-top: 2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.homecontent-wrapper .personalised-wrapper .cta-container .cta-btn:hover {
  background: #e6e6e6;
}
.homecontent-wrapper .personalised-wrapper .cta-container h1 {
  width: 70%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 45px;
}
.homecontent-wrapper .personalised-wrapper img {
  width: 100%;
  max-width: 1060px;
  height: auto;
  border-radius: 40px;
}
.homecontent-wrapper .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 5em;
  gap: 8em;
}
.homecontent-wrapper .about-wrapper article {
  width: 30%;
  height: auto;
  font-family: Berlin Sans FB;
}
.homecontent-wrapper .about-wrapper article h1 {
  font-weight: normal;
  color: #1a2542;
}
.homecontent-wrapper .about-wrapper article p {
  font-size: 24px;
  color: #435177;
  margin-top: 1.5em;
}
.homecontent-wrapper .about-wrapper img {
  width: 523px;
  height: 533px;
}
.homecontent-wrapper .inspiratie-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}
.homecontent-wrapper .inspiratie-wrapper .tiles-container {
  background: linear-gradient(45deg, #433da0, #91528d);
  border-radius: 50px 0px 0px 50px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 40px 40px 40px;
  width: 1366px;
  height: auto;
}
.homecontent-wrapper .inspiratie-wrapper .tiles-container h1 {
  font-size: 50px;
  padding: 20px 20px 20px 20px;
  font-weight: normal;
  font-family: Berlin Sans FB;
  margin-bottom: 1em;
}
.homecontent-wrapper .inspiratie-wrapper .tiles-container .tiles {
  gap: 5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homecontent-wrapper .inspiratie-wrapper .tiles-container .tiles img {
  width: 210px;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}
.homecontent-wrapper .interesse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: auto;
}
.homecontent-wrapper .interesse-wrapper .interesse {
  width: 50%;
  height: auto;
  font-size: 22px;
  font-family: Berlin Sans FB;
  text-align: center;
  margin-bottom: 5em;
}
.homecontent-wrapper .interesse-wrapper .interesse a {
  font-size: 22px;
  border-radius: 40px;
  text-decoration: none;
  color: #ffffff;
  background: #433da0;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .personalised-wrapper img {
    border-radius: 0px !important;
  }

  .cta-container h1 {
    font-size: 1.5rem !important;
  }
  .cta-container button {
    font-size: 1rem !important;
  }
  .cta-container input {
    width: 100% !important;
    position: relative;
    top: -10%;
  }

  .about-wrapper article {
    width: 100% !important;
    padding: 1em !important;
  }
  .about-wrapper img {
    display: none !important;
  }

  .inspiratie-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 0px !important;
    font-size: 1.5rem;
  }
  .inspiratie-wrapper .tiles-container {
    background: #433da0 !important;
    border-radius: 0px !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 0px !important;
  }

  .interesse a {
    font-size: 19px !important;
  }
}