.homecontent-wrapper {
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.homecontent-wrapper .personalised-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.homecontent-wrapper .personalised-wrapper img {
  width: 1085px;
  height: 583px;
}
.homecontent-wrapper .about-wrapper {
  width: 100%;
  min-height: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
}