.navbar-brand {
  color: #433da0 !important;
  font-weight: bold;
}

.navbar-nav .active a {
  color: #433da0 !important;
}
.navbar-nav li a {
  font-weight: bold;
  color: #adaabb !important;
}

footer {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #433da0;
}
footer span {
  color: white;
  font-weight: bold;
}

.btn-login {
  background-color: #433da0;
  color: white;
  font-weight: bold;
}
.btn-login:hover {
  color: white;
}
.btn-login .loginIcon {
  width: 15px;
  height: 15px;
}