.navbar-brand {
  color: #433da0 !important;
  font-weight: bold;
}

.navbar-nav .active a {
  color: #433da0 !important;
}
.navbar-nav li a {
  font-weight: bold;
  color: #adaabb !important;
}
.navbar-nav li a:hover {
  color: #433da0 !important;
}

.footerfix {
  position: relative;
  min-height: calc(100vh - 55px);
}

footer {
  height: 70px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #433da0;
}
footer span {
  color: white;
  font-weight: bold;
}

.btn-login {
  background-color: #433da0;
  color: white;
  font-weight: bold;
}
.btn-login:hover {
  color: white;
  background-color: #5953bd;
}
.btn-login .loginIcon {
  width: 17px;
  height: 17px;
}

.loginForm {
  margin-top: 40%;
}
.loginForm h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #1a2542;
}
.loginForm input[type=email],
.loginForm input[type=password] {
  border: none;
  border-bottom: 1px solid #adaabb;
  border-radius: 0;
  background-color: #ffffff;
}
.loginForm input[type=checkbox]:checked {
  background-color: #433da0;
}
.loginForm .btn-loginForm {
  width: 100%;
  background-color: #433da0;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.loginForm .btn-loginForm:hover {
  background-color: #5953bd;
}
.loginForm .btn-RegisterForm {
  width: 100%;
  background-color: #fff;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: #433da0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.loginForm .btn-RegisterForm:hover {
  background-color: #f2f2f2;
}

.registerForm {
  margin-top: 36%;
}
.registerForm h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #1a2542;
}
.registerForm input[type=password] {
  letter-spacing: 4px;
}
.registerForm input {
  border: none;
  border-bottom: 1px solid #adaabb;
  border-radius: 0;
  color: #1a2542;
  background-color: #ffffff;
}
.registerForm .btn-RegisterForm {
  width: 100%;
  background-color: #433da0;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.registerForm .btn-RegisterForm:hover {
  background-color: #5953bd;
}