.verkennenWrapper .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #adaabb;
  padding: 0.5em;
}
.verkennenWrapper .searchBar button {
  background-color: #433da0;
  padding: 0.5em;
  border-radius: 10px;
  border: unset;
}
.verkennenWrapper .searchBar input {
  border: unset;
  width: 100%;
  color: #adaabb;
  font-size: 17px;
  padding-left: 1em;
  font-family: Berlin Sans FB;
}
.verkennenWrapper .searchBar input::-webkit-input-placeholder {
  color: #adaabb;
}
.verkennenWrapper .searchBar input::-moz-placeholder {
  color: #adaabb;
}
.verkennenWrapper .searchBar input:-ms-input-placeholder {
  color: #adaabb;
}
.verkennenWrapper .searchBar input::-ms-input-placeholder {
  color: #adaabb;
}
.verkennenWrapper .searchBar input::placeholder {
  color: #adaabb;
}
.verkennenWrapper .searchBar input:focus {
  outline: none;
}
.verkennenWrapper h3 {
  font-weight: bold;
  font-size: 22px;
  font-family: Berlin Sans FB;
  margin-top: 0.5em;
}
.verkennenWrapper .verkenItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em 1.5em;
  margin-top: 1em;
}
.verkennenWrapper .verkenItems a {
  text-decoration: none;
}
.verkennenWrapper .verkenItems .item {
  width: 200px;
  height: 280px;
  border-radius: 20px;
  background-color: #433da0;
}
.verkennenWrapper .verkenItems p {
  margin-top: 0.5em;
  color: #1a2542;
  font-size: 18px;
  font-family: Berlin Sans FB;
  padding: unset;
  margin: 0.5em 0em 0em 0em;
}